<div class="container-fluid">

  <div>
    <h1>Vending Machine</h1>
    <h2>Users</h2>
    <div><h3>simulating inserting cash </h3>
      <button class="btn btn-primary" (click)="insertMoney()">Insert Cash</button><br/>
      <div *ngIf="totalAmountInMachine"> Bal {{totalAmountInMachine - totalAmountForSelectedItems}} {{currency}}</div>
    </div>

    <div class="row">
      <div *ngFor="let item of shopItems" class="item-rows">
        <div>
          <div>
            <h3>{{item.name}}</h3>
          </div>
          <div>
            <p>{{item.price}} {{currency}}</p>
          </div>
          <button class="btn btn-primary" (click)="addSelectedItem(item)">Select</button>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="selectedItems">
    <h2>
      Selected Items
    </h2>
    <div class="row">
      <div>
        <div *ngFor="let item of selectedItems">
          <div>
            {{item.name}}
          </div>
        </div>
        <button class="btn btn-primary" (click)="buyItems()">Buy</button>
      </div>
    </div>
  </div>

  <div *ngIf="totalChange">
    <h2>
      Change
    </h2>
    {{change | json}}
  </div>
</div>