<div class="container-fluid">

  <div>
    <h1>Vending Machine</h1>
    <div class="row">
      <div class="item-rows-2">
        Amount in Vending Machine
        <div> {{totalAmountInMachine}} {{currency}}</div>
      </div>
      <div class="item-rows-2">
        Balance
        <button (click)="generateRandomValues()">Insert Cash</button>
        <div *ngIf="totalAmountInMachine"> {{totalAmountInserted - totalAmountForSelectedItems}} {{currency}}</div>
      </div>
    </div>
    <div class="row">
      <div *ngFor="let item of shopItems" class="item-rows">
        <div>
          <div>
            <h3>{{item.name}}</h3>
          </div>
          <div>
            <p>{{item.price}} {{currency}}</p>
          </div>
          <button class="btn btn-primary" (click)="addSelectedItem(item)">Select</button>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="selectedItems">
    <h2>
      Selected Items
    </h2>
    <div class="row">
      <div>
        <div *ngFor="let item of selectedItems">
          <div>
            {{item.name}}
          </div>
        </div>
        <button class="btn btn-primary" (click)="buyItems()">Buy</button>
      </div>
    </div>
  </div>

  <div *ngIf="totalChange">
    <h2>
      Change
    </h2>
    {{change | json}}
  </div>
</div>